<div class="<%= direction %>-arrow">
  <% if local_assigns[:page] %>
    <%= link_to clean_page_path(page.story, page.number, @tag) do %>
      <i class="fa fa-arrow-<%= direction %> fa-5x page-arrow"></i>
    <% end %>
  <% end %>
</div>
