body {
  background-color: #FCEBD1;
  background-image: asset-data-url('bg-tile.png');
}

a:link:not(.btn) {
  color: #B03600;
}

a:visited:not(.btn) {
  color: #FF2F00;
}

footer p {
  color: #808080;
}

.navbar-static-top {
  background-color: #FCEBD1;
  background-image: asset-data-url('top-tile.png');
  border-color: #772519;
}

.page-arrow {
  color: #D36F2F;
}

.page-number {
  color: #AF7F54;
}

.left-arrow {
  float: left;
}
.right-arrow {
  float: right;
}
.left-arrow,.right-arrow {
  margin: 5px;
}

.content-box {
  background-color: #FABD86;
  /*border-radius: 5px;*/

  border: 2px solid #772519;

  padding-left: 15px;
  padding-top: 5px;
  min-height: 100px;
  box-shadow: -20px 20px 20px #383838;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
}

.story-link {
  background-color: #F9CCA9;
  border: 2px solid #772519;
}
.story-link > a {
  color: #FFFFFF;
}

.content-left {
  z-index: 5;
}

.content-title {
  float: left;
}

.content-audio {
  float: right;
  min-width: 200px;
  max-width: 350px;
}

.text-error {
  color: #6E0000;
  font-weight: bold;
}

.text-okay {
  color: #24773A;
  font-weight: bold;
}

#inspiration-content,#page-content {
  margin-bottom: 10px;
}

#inspiration {
  margin-top: 100px;
}

#twitter-box {
  margin-top: 100px;
  margin-left: 35px;
}

.dropdown-menu {
  background-color: #F9CCA9;
  border: 2px solid #772519;
}

.archive-split {
  margin: 2px 0;
  border-color: #F4B75E;
}

.btn-serpent {
  border: 1px solid #772519;
  color: black;
  background-color: #FFD599;
}
.btn-serpent:hover {
  color: white;
  background-color: #ECC38A;
}

.story-body {
  margin-top: 5px;
}
